@model FarmerBrothers.Models.CalendarTechnicianModel
@using Newtonsoft.Json;
@using Syncfusion.MVC.EJ;
@using Syncfusion.JavaScript;

    <style>
        .techlist {
            width: 30%;
            float: left;
            margin-top: 20px;
            text-align: center;
        }
        .schedule-block {
            margin-bottom: 10px;
            overflow: hidden;
        }
        .work_order_hr {
                border-style: inset;
        }
        .Appointdesc {      
            white-space: pre-wrap;
            color: #0315ff;
            cursor: pointer;
       }
        .or{
            position: absolute;
            right: -7px;
            top: 29px;
            font-size: 10px;
            font-weight: bold;
        }         
    </style>

<link href="~/Content/Tpcm.css" rel="stylesheet" />


    <script type="text/javascript">
        $(function () {
            $("#HiddenTechID").val("");
            $('#AdministratorLink').css("color", "white");
            $("#div_OnCallInternal").hide();
        });


        function handleClick(myRadio) {

            if ($('#rbLocalBranch').is(':checked') == true) {
                $("#Technicianddn").show();
                $("#div_OnCallInternal").hide();
                $("#div_Technicians").hide();
                $(".ThirdPartyDropDown option:eq(0)").prop("selected", true);


            }
            else {

                $("#Technicianddn").hide();
                $("#div_OnCallInternal").show();
                $("#div_Technicians").hide();
                $("#OnCallDropDown option:eq(0)").prop("selected", true);

            }

        }

        //This is how we are calling the Calendar which is in the partial view - This is a Ajax call.
        function Sendfunc() {
            var Tname = "", TBranch = "";
            if ($("input[name=rbShipTo]:checked").val() == "LocalBranch") {
                Tname = $("#TechName").val();
                TBranch = $("#ThirdPartyDropDown").val();
                if (Tname == "") {
                    $("#HiddenTechID").val("");
                }
                if(Tname =="" && TBranch==""){
                    AlertPopup("|Please Select Atleast One Search Field.");
                    return false;
                }
                if (Tname != "" && $("#HiddenTechID").val() == "") {
                    AlertPopup("|Technician Name Must be Select from Dropdown.");
                    return false;
                }
            } else {
                Tname = $("#OCTechName").val();
                TBranch = $("#OnCallDropDown").val();
                if (Tname == "") {
                    $("#HiddenTechID").val("");
                }
                if (Tname == "" && TBranch == "") {
                    $("#HiddenTechID").val("");
                    AlertPopup("|Please Select Atleast One Search Field.");
                    return false;
                }
                if (Tname != "" && $("#HiddenTechID").val() == "") {
                    AlertPopup("|Technician Name Must be Select from Dropdown.");
                    return false;
                }
            }
            //alert(Tname + "--" + TBranch);
            @*if ($.trim(val).length != 0) {*@
            var timeZone = new Date().toString().match(/\(([A-Za-z\s].*)\)/)[1]
            
            var url = "@Url.Action("GetTechniciansByBranchId", "TechnicianCalendar")" + "?Tid=" + $("#HiddenTechID").val() + "&strBranchID=" + TBranch + "&IsTechSchedule=" + $('#rbLocalBranch').is(':checked') + "&TimeZone=" + timeZone;
            $.ajax({
                url: url,
                cache: false,
                type: "POST",
                success: function (response) {
                    ej.widget.destroyAll($("#div_Technicians .e-js"));
                    $("#div_Technicians").empty();
                    $("#div_Technicians").html(response);
                    $("#div_Technicians").show();
                    ej.widget.init($("#div_Technicians"));
                },
                error: function (reponse) {
                    $("#modalpopup").show();
                    $("p", "#modalpopup").text("Failed to retrieve the data");
                }

            });
        @*}*@
        };

        var dataManager = ej.DataManager({ url: '@Url.Action("GetTechNames", "TechnicianCalendar")', adaptor: new ej.UrlAdaptor() });
        var query = ej.Query().take(20);
        var promise = dataManager.executeQuery(query);
        promise.done(function (e) {
            var dataResults = e.result;
            //$("#TechName,#OCTechName").ejAutocomplete({ width: "100%", dataSource: dataResults, showPopupButton: true, enableDistinct: true, select: "select part", fields: { key: "techid", text: "techname" } });
            $("#TechName,#OCTechName").ejAutocomplete({
                width: "100%",
                dataSource: dataResults,
                showPopupButton: true,
                enableDistinct: true,
                select: "select part",
                fields: { key: "techid", text: "techname" },
                select: function (args) {
                    if (!ej.isNullOrUndefined(args.key))
                        //Key of the selected item is obtained
                        //alert(args.key);
                    $("#HiddenTechID").val(args.key);
                }
            });
        });

        function SearchClear() {
            $('.form-control').val('');
            $('#OnCallDropDown,#ThirdPartyDropDown').prop('selectedIndex', 0);;

            $.ajax({
                type: "post",
                url: "@Url.Action("Calendar", "TechnicianCalendar")",
            }).done(function( result ) {
                $("#div_Technicians").empty();
            });
        return false;
        }
    </script>
   
<section class="well white-bg">
    <div class="row top-info">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <b>Technician Schedule</b>
        </div>
    </div>
</section>
<section class="block margin-top" style="margin-bottom:20px">
    <div class="col-lg-12">
        <div class="schedule-block">
            <span class="col-sm-2">
                <input type="radio" name="rbShipTo" id="rbLocalBranch" value="LocalBranch" checked="checked" onclick="handleClick(this)" />
                Work Order & Time Off
            </span>
            <span class="col-sm-2">
                <input type="radio" name="rbShipTo" id="rbCustomer" value="Customer" onclick="handleClick(this)" />
                On Call
            </span>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="Technicianddn">
            <div class="col-md-2">
                <div class="form-group right-inner-addon">
                    <b>Tech Name:</b>
                    @Html.TextBoxFor(c => c.TechName, new { @class = "form-control SearchPanelControl", @Id = "TechName" })
                    @Html.HiddenFor(c => c.HiddenTechID)
                </div>
                <span class="or">OR</span>
            </div>
            <div class="col-md-2">
                <div class="form-group right-inner-addon">
                    <b>Branch:</b>
                    @Html.DropDownListFor(c => c.BranchId, new SelectList(Model.BranchList.OrderBy(x => x.BranchName), "BranchId", "BranchName"), "Please select a  Branch", new { @Id = "ThirdPartyDropDown", @class = "form-control custom-select ThirdPartyDropDown", style = "width:100%" })
                </div>
            </div>
            <div class="col-md-2"><br/>
                <input type="button" id="WOBtn" class="btn btn-primary" value="SEARCH" onclick="Sendfunc()" />
                <a onclick="SearchClear()" class="btn btn-orange">Clear</a>
            </div>
          </div>
        <div id="div_OnCallInternal">
            <div class="col-md-2">
                <div class="form-group right-inner-addon">
                    <b>Tech Name:</b>
                    @Html.TextBoxFor(c => c.TechName, new { @class = "form-control SearchPanelControl", @Id = "OCTechName" })
                </div>
                <span class="or">OR</span>
            </div>
            <div class="col-md-2">
                <div class="form-group right-inner-addon">
                    <b>Internal On Call Group</b>
                    @Html.DropDownListFor(c => c.BranchId, new SelectList(Model.OnCallList.OrderBy(x => x.OnCallGroupName), "OnCallGroupId", "OnCallGroupName"), "Please select a  Branch", new { @Id = "OnCallDropDown", @class = "form-control custom-select ThirdPartyDropDown", style = "width:100%" })
                </div>
            </div>
            <div class="col-md-2">
                <br />
                <input type="button" id="OCBtn" class="btn btn-primary" value="SEARCH" onclick="Sendfunc()" />
                <a onclick="SearchClear()" class="btn btn-orange">Clear</a>
            </div>
        </div>
    </div>
            <div style="clear:both;"></div>
</section>
    <div id="div_Technicians">

    </div>

